select{
    width: 300px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-weight: bold;
}
form{
    text-align: center;
}
[type=button]{
    width: 300px;
    height: 25px;
    border-radius: 5px;
    font-weight: bold;
    margin-left:auto;
    margin-right:auto
}
#button{
    text-align: center;
}
.hidden{
    display: none;
}
.show{
    display: block;
}
table th{
    background-color: grey;
    color: whitesmoke;
}
table .odd{
    background-color: lightgrey;
}
table td{
    padding: 0 0.5em;
}
#inner-form{
    text-align: center;
}
input{
    margin: 0.5em;
}
body{
    text-align: center;
}
#tableContainer{
    text-align: center;
}
table{
    margin-left:auto;
    margin-right:auto
}